.center-content 
	width 100% 
	margin auto 
	z-index 2
	margin-left auto
	margin-right auto
	
	@media $smallest-desktop-minmax 
		padding 0 10px
	
	&:not(.not-relative)
		position relative
		
	&:not(.nopadding)
		@media $tablet-max
			padding-left 15px
			padding-right 15px
			
	&:not(.bigger)
		@media $small-desktop-min
			width 1200px
			
		@media $smallest-desktop-minmax
			width 1000px
			
	&.bigger
		@media $small-desktop-min
			padding 0 15px 
			
		@media $xl-desktop-min
			max-width 1500px
			padding 0
 
.full
	display block
	width 100%
			
.flexed 
	@media $small-desktop-min
		display flex
  
	&.column
		@media $small-desktop-min
			flex-flow column wrap    
	
	&.row
		@media $small-desktop-min
			flex-flow row wrap 
			
	&.spaced
		@media $small-desktop-min
			justify-content space-between
		
	&.centered
		@media $small-desktop-min
			align-items center
	
	&.start
		@media $small-desktop-min
			align-items flex-start
	
.dib 
	display inline-block
	vertical-align top
	
.dibfather
	font-size 0
	
.cleared 
	&:after
		content ''
		display block
		clear both 
		
.transitioned-basic
	transition all .2s ease-in-out
			
.hideonmobile
	@media $tablet-max
		display none

.becomes-carousel-on-mobile
	@media $tablet-max
		.slick-slide
			margin 0 40px 

		.slick-list
			margin 0 -40px
			
.cover-behavior
	object-fit cover