.purple-swag
	@media $tablet-max
		padding-top 49px 
		padding-bottom 40px 
		
	@media $small-desktop-min
		padding-top  94px
		padding-bottom 99px
	
	.limited
		@media $small-desktop-min
			max-width 710px 
			margin-left auto 
			margin-right auto 
			margin-bottom 40px
	
.footer-logo-wrapper
	display block
	margin 0 auto 34px auto
	
	@media $tablet-max
		max-width 180px 
	
	@media $small-desktop-min
		width 280px 

.footer-tagline
	text-align center
	
	@media $tablet-max
		font-size 30px 
		margin-top 22px
		margin-bottom 59px
	
	@media $small-desktop-min
		font-size 40px
		margin-bottom 51px
	
.location-wrapper
	position relative
	border-bottom-right-radius 50px
	
	@media $tablet-max
		min-height 385px
		
	@media $small-desktop-minmax
		width 585px
	
	@media $small-desktop-min
		width 630px 
		height 210px
		text-align left

	.frame-holder
		background-color #000
		
		@media $tablet-max
			min-height 210px 
			
		@media $small-desktop-min
			height 100%
			width 36.7%
		
	.info-holder
		@media $tablet-max
			min-height 165px 
			
		@media $small-desktop-min
			height 100%
			width 63.3%
			padding 27px 25px 0 25px

	.dibfather
		p.dib
			margin-left 10px
			
	& + .location-wrapper
		margin-left 37px
		
.location
	background-color $purple
	position absolute
	width calc(100% - 4px)
	height calc(100% - 4px)
	top 2px 
	left 2px
	border-bottom-right-radius 50px
	box-shadow 6px 10px 0px 0px rgba(#000, .15)
	
.unit-title
	@media $tablet-max
		font-size 18px
		margin-top 22px
		
		
.unit-info
	@media $tablet-max
		font-size 14px !important
		padding 0 15px
	
	.t-g 
		@media $tablet-max
			font-size inherit

.unit-phones
	color #FFF 
	
	@media $tablet-max
		font-size 14px !important
		padding 0 15px
	
	.t-g 
		@media $tablet-max
			font-size inherit
	
	.fa-phone
		margin-right 9px
		
	.fa-whatsapp
		margin-left 16px 
		margin-right 9px

.copyright
	background linear-gradient(to right, $teal, $yellow)
	
	@media $tablet-max
		text-align center
	
	.center-content
		@media $tablet-max
			min-height 137px
			padding-top 38px
			padding-bottom 71px
			
		@media $small-desktop-min
			min-height 46px

	.t-xs
		@media $tablet-max
			margin-bottom 22px
		
.signature-link
	position relative
	top -6px
	margin-right 10px
	color #737277
	font-size 12px