.field-wrapper
	position relative
	display block
	
.contact-main-form
	.field-wrapper
		border-bottom-right-radius 10px
		
		&:not(.bigger)
			height 52px 
			
		&.bigger
			height 150px
	
		&:nth-of-type(n+3)
			@media $small-desktop-min
				margin-top 33px
			
	& > *:not(:first-of-type)
		@media $tablet-max
			margin-top 10px

	.holds-two
		@media $tablet-max
			display flex 
			flex-flow row nowrap 
			justify-content space-between
			align-items flex-start
			margin-top 10px

		@media $small-desktop-min
			margin-top 33px
			
		.field-wrapper
			@media $tablet-max
				width 47.5%

.field-gradient
	position absolute
	top 2px 
	background-color #FFF
	left 2px 
	width calc(100% - 4px)
	height calc(100% - 4px)
	border-bottom-right-radius 10px
	border 0
	resize none
	padding 5px 10px
	
	&.has-icon
		padding-left 40px

.form-body 
	> div
		width 100% 
		
	form 
		display flex 
		flex-flow row wrap 
		justify-content space-between
		align-items center