.centered-logo
	@media $tablet-max
		position fixed
		top 0
		left 0 
		width 100%
		z-index 10

.upper-partition
	background-color #FFF
	position relative
	box-shadow 0 3px 0 0 rgba(#000, .1); 
	
	@media $tablet-max
		display none
	
	.center-content 
		@media $small-desktop-min
			height 35px
		
	&:after
		content ''
		display block
		position absolute
		width  100%
		bottom -8px
		left 0
		height 8px 
		background-color rgba(#83eec5, .3)
		
	.group
		&:first-of-type
			@media $small-desktop-min
				font-size 11px
				
			@media $xl-desktop-min
				font-size 13px
			
			i 
				@media $small-desktop-min
					font-size 12px 
					margin 0 3px 
					
				@media $xl-desktop-min
					font-size 16px 
					margin 0 5px

.header-social
	font-size 18px 
	color $purple
	@extend .dib 
	
	& + .header-social
		margin-left 16px
	
.hamburger
	position absolute
	right 15px
	top 50%
	transform translateY(-50%)
	
	@media $small-desktop-min
		display none