.cta-overlay 
	display none
	position fixed
	top 0 
	left 0
	height 100%
	width 100%
	background-color rgba($purple, .95)
	z-index 10
	
.form-wrapper-all
	min-height: 460px
	padding-bottom 60px
	background-color: #FFF
	border-radius 5px
	font-size 0
	position fixed
	left 0 
	right 0 
	margin auto 
	top 50% 
	transform translateY(-50%)
	box-shadow  0 0 20px 0 rgba(#000, .2)
	display none
	color #58595b
	border 1px solid #FFF

	@media $tablet-max
		width 100%
		
	@media $small-desktop-min
		width: 520px

	.instance
		display block
		
		&:not(.active)
			display none
	
.form-pickers
	background-color: #3b3a61
	color #FFF
	font-size 11px
	height: 47px
	border 0
	display inline-block
	vertical-align top
	width: 33.3333%
	font-weight: 700
	transition all .35s ease-in-out
		
	i
		color #f1da6e
		font-size 16px
		margin-right: 5px
		
		&.alt 
			font-weight: 300

	&.active, &:hover
		background-color #201d3c
		
	&:first-of-type
		border-top-left-radius 5px 
		
	&:nth-of-type(2)
		border-left 1px solid #FFF
		
	&:last-of-type
		border-top-right-radius 5px
		
		
.leave-message
	text-align center
	
	.fields
		max-width 300px 
		margin auto
		
		.half 
			@media $small-desktop-min
				width: 47.5%
				float left
			
			& + .half 
				@media $small-desktop-min
					margin-left: 5%
					
		.full 
			clear both 
			
	.field-wrapper
		width: 100%
		display block
		margin-bottom: 10px
		position relative
		height 42px
		border-bottom-right-radius 12px
		
		&.bigger
			height 90px
		
		i
			position absolute
			left 2px 
			height: 36px
			background-color: #FFF
			top 50%
			transform translateY(-50%) 
			width: 36px 
			text-align center
			color $purple 
			font-size 16px
			line-height 34px

.leave-title
	font-size 20px
	color $gray 
	font-weight: 700
	line-height: 24px
	padding-top: 40px
	margin-bottom: 20px
	max-width 360px
	display block
	margin-left: auto  
	margin-right: auto
	width: 100%
	border-bottom 0
	
	.variant 
		font-size 30px
		display block
		margin-bottom: 10px
	
.callers
	font-size 14px 
	color $gray
	margin-top: 18px 
	
	.number 
		padding 3px 8px 
		border-radius 50% 
		color #FFF
		background-color: red

.call-me-later
	width: 300px
	height 42px
	background-color: green 
	color #FFF 
	font-size 20px 
	font-weight: 500
	border 2px solid transparent 
	border-radius 4px
	transition all .35s ease
	
	&:hover
		color green 
		border-color green 
		background-color: #FFF
		
.confirm
	width: 78px
	display block
	margin-left: auto 
	margin-right: auto 
	height: 30px 
	background-color: $purple 
	font-size 16px
	color #FFF
	border 2px solid transparent 
	border-radius 4px 
	transition .2s ease
	
	&:hover 
		background-color: #FFF
		color $purple 
		border-color $purple

.close-modal
	top 0
	right 10px
	position fixed
	background transparent 
	color #FFF 
	padding 0 
	border 0
	font-size 42px

.call-cta-wrapper
	position fixed
	right 15px
	bottom 30px 
	z-index 10
	text-align center
	
	@media $tablet-max
		display none

	@media $small-desktop-minmax
		right 15px
		bottom 15px
		
.cta-tooltip
	width: 130px
	padding 0 14px
	padding-top: 22px
	padding-bottom: 19px
	position relative
	background-color: #fafafa
	text-align center
	border-radius 4px
	box-shadow 0 0 10px 0 rgba(#000, .25)
	opacity 1
	transform translateY(0px)
	transition all .35s ease-in-out


	@media $small-desktop-minmax
		width 130px
		padding 10px 14px
	
	&:after
		top: 100%
		left: 50%
		border: solid transparent
		content: ""
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		border-color: rgba(255, 255, 255, 0)
		border-top-color: #fafafa
		border-width: 10px
		margin-left: -10px
		
	&.clicked
		transform translateY(-20px)
		opacity 0
		
.tooltip-text
	font-size 14px 
	color $gray 
	margin-bottom: 11px
	
	.variant 
		font-size 20px 
		font-weight: 700
		display block
		margin-bottom: 5px
		
.call-cta
	margin-top: 30px

	@media $small-desktop-minmax
		max-width 50px
		margin-top 15px
		
.phone-icon 
	@media $small-desktop-min
		position relative
		height 45px
		width 45px 
		background-color #71f2d4
		box-shadow 0 0 0 7px rgba(#71f2d4, .4)
		border-radius 50%
		font-size 20px
		color #FFF
		display block
		margin-left auto 
		margin-right auto 
		margin-top 20px
		border 0
		
	i 
		absoluteCenter()
	
	&:after
		content '1'
		padding 3px 6px 
		font-size 12px
		color #FFF
		border-radius 50% 
		background-color red
		position absolute
		top -6px 
		right -6px
		
.close-cta
	position fixed
	width 25px
	height 25px 
	border-radius 50% 
	border 1.5px solid rgba(#000, .2)
	padding 0
	text-align center
	background-color #f3f3f3
	top -12.5px
	right -12.5px
	font-size 13px