.variant
	border 0
	background-color transparent
	padding 0 
	
.wrap-gradient
	width 100% 
	min-height 50px
	position relative
	border-bottom-right-radius 25px
	margin-top 16px
	box-shadow 6px 10px 0px 0px rgba(0, 0, 0, 0.15)
	
	@media $tablet-max
		max-width 262px 
		margin-left auto 
		margin-right auto
	
.wrapped-gradient
	position absolute
	top 5px 
	left 5px 
	width calc(100% - 10px)
	height calc(100% - 10px)
	background-color $purple
	font-size 20px 
	color #FFF
	font-weight 700
	border 0
	border-bottom-right-radius 20px	
	
	@media $tablet-max
		max-width 262px 
		margin-left auto 
		margin-right auto

.treatment-btn-wrapper
	width 205px 
	height 40px
	position relative
	border-bottom-right-radius 10px 
	box-shadow: 6px 10px 0px 0px rgba(0, 0, 0, 0.15)
	margin auto
	
.treatment-btn
	position absolute
	top 2px 
	left 2px
	width calc(100% - 4px)
	height calc(100% - 4px)
	font-size 16px 
	color #FFF
	font-weight 700
	background-color $purple
	border 0
	border-bottom-right-radius 8px 

.btn-purple-basic
	display block
	background-color $purple
	font-size 20px 
	color #FFF
	border-bottom-right-radius 10px
	border 2px solid $purple
	transition all .25s ease
	
	&:hover
		background-color transparent 
		color $purple
	
	&.submit-main-contact
		margin-left auto 
		margin-right 0
		margin-top 26px
		min-width 165px
		min-height 50px
		
	&.wpcf7-submit
		width 100%
		height 41px
		text-transform uppercase