// .first-section
	
.has-low-border
	border-bottom 2px solid transparent 
	padding-bottom  14px
	position relative
	
	&:after
		content ''
		bottom 0px
		display block
		height 4px
		position absolute
		width 84px
	
	&.teal-border
		border-bottom-color $teal
		
		&:after
			background-color $teal
			
.purple-bg
	background-color $purple
	
	@media $tablet-max
		text-align center
	
	.t-white
		-webkit-text-fill-color #FFF
		 
.gradient-text
	background linear-gradient(to right, $teal, $yellow)
	-webkit-background-clip text
	-webkit-text-fill-color transparent

.bottom-right-radius
	border-bottom-right-radius 50px

.gradient-border	
	&.to-bottom
		background linear-gradient(to bottom, $yellow, $teal)
		
	&.to-right 
		background linear-gradient(to right, $teal, $yellow)
		
.shaded-text
	text-shadow 3px 5px 0 rgba(#000, .15)

.shaded-box
	box-shadow 3px 5px 0 0 rgba(#000, .1)
	
.has-border-before
	position relative
	
	&:before
		content ''
		display block
		position absolute
		width 100% 
		top -20px
		height 20px
		background-color rgba(#000, .1)
		
.mobile-helper-text
	@media $small-desktop-min
		display none
		

.mobile-cta
	position fixed
	z-index 9 
	bottom 0 
	left 0 
	width 100%
	font-size 0
	box-shadow 0 0 0 3px rgba(#000, .3)
	
	@media $small-desktop-min
		display none
	
.whatsapp-mobile-link
	width 17.5%
	background-color #605f91
	color #FFF 
	font-size 28px 
	text-align center
	display inline-block
	vertical-align top
	line-height 42px
	height 42px
	border 0
	
.call-link
	width 30%

.footer-btn
	font-size 12px 
	color #FFF 
	font-weight 700
	background-color #3b3a61
	display inline-block
	vertical-align top
	line-height 42px
	height 42px
	text-align center
	border 0
	
	& + .footer-btn
		position relative 
		
		&:before
			content ''
			height 24px 
			width 1px
			background-color #FFF 
			absoluteVertical()
			left -1px 
			
.open-call-cta
	width 52.5%

	
@keyframes icon-pulse 
	0% 
		transform: scale(1)

	to 
		transform: scale(1.1)

.whatsapp-cta
	@media $tablet-max
		display none
		
	@media $small-desktop-min
		position fixed
		right 20px
		top 50%
		transform translateY(-50%)
		z-index 8
		animation icon-pulse .75s infinite alternate