.header-navigation
	@media $tablet-max
		background-color #FFF 
			
	@media $small-desktop-min
		position fixed
		z-index 10
		left 0
		width 100%
		transition all .25s ease-in-out
		top 35px 
		padding-top 32px 
	
	&.fixed
		height 70px 
		top 0 
		padding-top 0
		background-color #FFF
		border-bottom 2px solid #e1e1e1
			
		.header-logo-wrapper
			img 
				top 15px 
				transform scale(.55)
				position relative
				
		.has-logo
			&:after
				opacity 1
				visibility visible
				box-shadow 0 3px 1px 0 #e1e1e1
				
	&:after
		@media $tablet-max
			content ''
			display block
			position absolute
			bottom -4px 
			height 4px 
			left 0 
			width 100%
			background-color rgba(#000, .4)
		
	&.is-open
		.main-menu
			transform translateX(0)
			opacity 1 
			visibility visible

	.center-content
		@media $tablet-max
			min-height 78px

.main-menu
	@media $tablet-max
		position absolute
		top 0 
		left 0 
		height 100vh
		overflow-y scroll
		width 75vw
		background-color #FFF
		padding-top 30px 
		text-indent 15px
		box-shadow 3px 0 0 rgba(#000, .3)
		border-right 2px solid #e1e1e1
		transform translateX(-100%)
		opacity 0 
		visibility hidden
		transition all .35s ease-in-out

	li 
		transition all .25s ease-in-out
		
		& + li 
			@media $tablet-max
				border-top 2px solid #e1e1e1
		
		&:not(.has-logo)
			font-size 20px 
			color $font
			font-weight 300
			position relative
			border-bottom-right-radius 10px
			transition all .25s ease
			
			@media $tablet-max
				padding 20px
			
			@media $small-desktop-min
				margin-top 16px
				padding 12px 24px
			
			&:hover
				@media $small-desktop-min
					background linear-gradient(to right, $teal, $yellow)
					box-shadow 3px 5px 0 0 rgba(#000, .1)
					
				&:before
					opacity 1
					visibility visible
			
			&:before
				@media $small-desktop-min
					content ''
					display block
					position absolute
					width calc(100% - 4px)
					height calc(100% - 4px)
					border-bottom-right-radius 10px
					left 2px 
					top 2px
					background-color #fff
					opacity 0 
					visibility hidden
					transition all .25s ease
				
		a 
			position relative
			z-index 1
			
		&:hover
			color $purple

	.has-logo
		position relative
		
		@media $tablet-max
			display none
		
		&:after
			@media $small-desktop-min
				content ''
				display block
				absoluteCenter()
				background #FFF
				height 210px
				width 210px
				left 50%
				transform translateX(-50%) translateY(-50%)
				border-radius 50%
				opacity 0 
				visibility hidden
				transition all .2s ease
			
		img 
			transition all .15s ease-in-out
		
.mobile-logo
	@media $tablet-max
		absoluteCenter()
		display block
		width 186px 
		
	@media $small-desktop-min
		display none
	