.oldiewarning
    position absolute
    top 0
    left 0 
    right 0
    margin auto
    width 100% 
    height 100% 
    background-color #32363b
    overflow hidden
    z-index 1000
    display none
    
    p, a 
        width 100% 
        margin auto 
        text-align center
        position absolute
        top 500px 
        color #fff
        font-size 40px
        font-family Tahoma, Geneva, sans-serif
            

.lt-ie9 
    overflow hidden 
    
    .oldiewarning 
        display block
        
.cms-wrap
    h2 
        font-size 22px 
        line-height 32px 
        color $purple 
        font-weight  700
        
        &:not(:last-child)
            margin-bottom 30px 
            
    p, li 
        font-size 16px 
        line-height  20px 
        color $font
        
    p, ul 
        &:not(:last-child)
            margin-bottom  20px
            
    a 
        color $purple 
        text-decoration underline