.opening-banner
	@media $tablet-max
		padding-top 27px 
		padding-bottom 145px 
		text-align center
		background url('../images/backgrounds/bottom.jpg') no-repeat center center / cover
		margin-top 78px
		
	@media $small-desktop-min
		background url('../images/backgrounds/top.jpg') no-repeat center center / cover
	
	.center-content
		@media $small-desktop-min
			height 1055px
			padding-top 250px
			
	.group
		@media $small-desktop-min
			max-width 563px
			
	h2.t-gray 
		@media $tablet-max
			font-size 18px
			margin-bottom 25px
			
	p.t-g.t-gray
		@media $tablet-max
			font-size 14px
			line-height 20px 
			font-weight 300
			
	.med 
		.variant 
			@media $tablet-max
				font-size 48px
		
.doctor-mobile-prop	
	@media $small-desktop-min
		display none
			
.opening-logo
	@media $tablet-max
		max-width 100px 
		
	& + .opening-logo
		margin-left 26px
		position relative
		
		@media $tablet-max
			max-width 160px
			top -12px
			
		@media $small-desktop-min
			top -8px
		
.doctor-persona
	@media $tablet-max
		display none
		
	@media $small-desktop-min
		position absolute
		right -20px 
		bottom 0
		

.content-cards
	position relative
	
	@media $small-desktop-min
		min-height 313px
		
	.center-content
		@media $tablet-max
			top -175px
			margin-bottom -175px

	.uncontained-background
		position absolute
		top 0 
		left 0
		width 100%
		background-image url('../images/backgrounds/vectors-purple.jpg')

		@media $tablet-max
			background-size contain
			min-height 1800px
			background-repeat repeat-y
		
		@media $small-desktop-min
			background-position center center
			background-size cover 
			background-repeat no-repeat
			min-height 2954px
		
.card-outer
	min-height 445px 
	background url('../images/svg/transparent-shape.svg') no-repeat center center / contain
	position relative		
	
	@media $small-desktop-min
		margin-top -235px
	
	.card-inner
		absoluteCenter()
		width 90%
		height 95%
		left -2%
		top 49%
		background url('../images/svg/white-shape.svg') no-repeat center center / contain
		padding-top 100px
		text-align center
	
.card-icon
	position relative
	top -50px

.card-title, 
.card-description
	max-width 270px 
	margin-left auto 
	margin-right auto

.card-title
	font-size 30px 
	color $purple
	margin-bottom 25px
	line-height 30px

.main-treatment
	@media $tablet-max
		padding-top 40px 
		margin-top -1px
		
	@media $small-desktop-min
		padding-bottom 61px 
	
	.group
		&:first-of-type
			@media $tablet-max
				padding-bottom 45px 
				
			@media $small-desktop-min
				width 65%
			
		&:last-of-type
			@media $tablet-max
				position relative
				
			@media $small-desktop-min
				width 32.5%
				padding-top 85px
				
.pic-holder
	overflow hidden
	position relative
	box-shadow 6px 10px 0px 0px rgba(0, 0, 0, 0.15)
	
	@media $tablet-max
		min-height 240px 
		max-width 262px 
		margin-left auto 
		margin-right auto
	
	@media $small-desktop-min
		min-height 360px
	
.picture-bordered
	@extend .cover-behavior, .bottom-right-radius
	position absolute
	max-width none 
	width calc(100% - 10px)
	height calc(100% - 10px)
	left 5px 
	top 5px
	box-shadow 6px 10px 5px 0 rgba(#000, .15)
	
.bordered-under
	position absolute
	
	@media $tablet-max
		width 310px 
		height 330px
		top -16px
		right -42px
	
	@media $small-desktop-min
		width 390px
		height 480px
		top 65px 
		right -36px
	
	&:before
		content ''
		display block
		position absolute
		top 2px
		left 2px
		background-color $purple
		width calc(100% - 4px)
		height calc(100% - 4px)
		@extend .bottom-right-radius

.other-treatments
	padding-top 61px
	
	@media $tablet-max
		padding-bottom 60px
		margin-top -1px
	
	@media $small-desktop-min
		padding-bottom 90px
		
.treatment-block
	text-align center
	position relative
	border-bottom-right-radius 50px
	transition all .25s ease
	
	@media $tablet-max
		width 100% 
		min-height 460px
	
	@media $small-desktop-min
		width 24.25%
		min-height 520px
	
	&:not(:hover)
		background $purple
		
	&:hover
		@media $small-desktop-min
			box-shadow 6px 10px 0px 0px rgba(#000, .15)
			position relative
			z-index 3
		
.treatment-block-inner
	width calc(100% - 4px)
	height calc(100% - 4px)
	position absolute
	top 2px 
	left 2px
	background-color $purple
	border-bottom-right-radius 48px
	padding 26px 24px 20px 24px
	
.treatment-picture-wrapper
	margin 0 auto 34px auto
	width 141px
	height 141px 
	border-radius 50%
	position relative
	
.treatment-picture
	@extend .cover-behavior
	position absolute
	left 10px 
	top 10px
	width calc(100% - 20px)
	height calc(100% - 20px)
	border-radius 50%
	
.treatment-title
	margin-bottom 30px
	color #FFF
	
	@media $tablet-max
		font-size 22px 
	
	@media $small-desktop-min
		font-size 30px 
		min-height 54px
		
	span 
		display block
		
		@media $tablet-max
			font-size 22px 
		
		@media $small-desktop-min
			font-size 24px 
		
.treatment-description
	
	@media $tablet-max
		font-size 14px
		margin-bottom 20px
	
	@media $small-desktop-min
		min-height 98px
		
.pre-schedule
	background url('../images/backgrounds/bottom.jpg') no-repeat center center / cover		
	
	@media $tablet-max
		padding-top 46px 
		padding-bottom 76px
		text-align center
		
	.center-content
		@media $small-desktop-min
			min-height 923px
			padding-top 138px
			padding-bottom 94px
			
	.section-title
		@media $tablet-max
			max-width 200px 
			margin-left auto
			margin-right auto
			
		@media $small-desktop-min
			max-width 563px
			
	.t-g 
		@media $tablet-max
			font-size 14px 
			line-height 20px
		
.form-wrapper
	@media $small-desktop-min
		max-width 721px
		
.woman-prop-form
	@media $tablet-max
		display none
		
	@media $small-desktop-min
		position absolute
		bottom 0
		right -95px