.thanks
	min-height 100vh 
	
	@media $tablet-max
		padding 60px 0
		margin-top 78px
		background url('../images/backgrounds/bottom.jpg') no-repeat center center / cover
		
	@media $small-desktop-min
		padding 335px 0 120px 0
		background url('../images/backgrounds/top.jpg') no-repeat center center / cover